<div id="<%= dom_id error %>">
  <p>
    <strong>Error class:</strong>
    <%= error.error_class %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= error.message %>
  </p>

  <p>
    <strong>Backtrace:</strong>
    <%= error.backtrace %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= error.path %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= error.method %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= error.timestamp %>
  </p>

</div>
